<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
            User Login                                       
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-white">
    <div class="flex item-center justify-center">
        <!-- <img src="/images/a.jpg" alt="" class="w-[60%] h-[600px]"> -->
        <div class="w-[50%] rounded  mt-20">
            <div class="flex item-center justify-center h-[100%]  ">
                
                <form action="/user/login" method="post" class="mt-16 " autocomplete="off" >
             <h1 class="flex item-center justify-center text-3xl font-bold " >Welcome to  <samp class="text-blue-600 ml-3 text-3xl">ShopZone</samp></h1>
           
           <h1  class="font-semibold text-xl ml-12">Login your Account</h1>
         
             
           <label class="text-xl text-white font-semibold">Email:</label><br>
             <input class="px-4 py-2 border-2 border-size-800 rounded-lg w-[400px] " type="email" name="email"  placeholder="Email"> <br>
           <label class="text-xl text-white font-semibold">Password:</label><br>
        
           <input class="px-4 py-2 border-2 border-size-800 rounded-lg w-full" type="password" name="password" placeholder="eg:ha@123" maxlength="6" >
           <br><br> <input  class="rounded-lg text-xl ml-10 border-2 border-size-800 text-zinc-800 bg-blue-600 w-9/12"  type="submit" name="" id="" value="Login">
           <br><br>
           <p class="ml-16">Don't have account? <a href="/" class="text-blue-800">Register</a></p>
         </form>
       </div>
    </div>
   </div>
        
        
        
        
        
</body>
</html>